.THIS.metricsSection{
	padding: 0.75rem;
}

.THIS .cpiMetricsIcon svg{
	width: .75rem;
	height: .75rem;
	fill: token(colorTextIconDefaultActive);
}

.THIS .editPopover{
	padding: 0.75em;
}

.THIS .cpiYearHeading{
	font-size: 1.1em;
	text-align: center;
}

.THIS .gridInput label{
	display: none;
}

.THIS .alignRight{
	text-align: right;
}

.THIS .tdWarning{
	border: 3px dashed darkorange !important;
}

.THIS .tdWarningContainer div{
	display: inline-block;
}

.THIS .tdWarningContainer{
	text-align: left;
}