<template>
        <lightning-card >
            <div if:false={showAttachmentData}>
                <button onclick={expandAttachements} style="border:none; background-color:white">
                    <h3 slot="title">
                        <lightning-icon icon-name="utility:chevronright" size="Small" style="position:absolute"></lightning-icon>
                        <div style="margin-left:30px; display: inline; font-size:20px">
                            Shared Attachments
                        </div>
                        
                    </h3>
                </button>
            </div>
            <div if:true={showAttachmentData}>
                <button onclick={retractAttachements} style="border:none; background-color:white">
                    <h3 slot="title">
                        <lightning-icon icon-name="utility:chevrondown" size="Small"></lightning-icon>
                        <div style="margin-left:10px; display: inline; font-size:20px ">
                            Shared Attachments
                        </div>
                        
                    </h3>
                </button>
                <div style="position: absolute;right: 10px;top: 10px; display: flex;">
                    <div style='margin-right:5px'>
                        <lightning-button label="Add New Attachment" onclick={openFileModal}></lightning-button>
                    </div>
                    <div if:true={showShareAllButton}>
                        <lightning-button label="Share All Attachments" onclick={shareAllFiles}></lightning-button>
                    </div>
                    <div if:false={showShareAllButton}></div>
                </div>
                
                <div if:false={showDeleteButton}></div>
                    <template if:true={isModalOpen}>
                        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                            <div class="slds-modal__container">
                                <header class="slds-modal__header">
                                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeFileModal}>
                                        <lightning-icon icon-name="utility:close"
                                            alternative-text="close"
                                            variant="inverse"
                                            size="small" ></lightning-icon>
                                        <span class="slds-assistive-text">Close</span>
                                    </button>
                                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Upload/Share Attachments</h2>
                                </header>
                                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                    <lightning-input type="checkbox" label="Share File with Connections (Complete BEFORE File upload)" name="ShareFile" onchange={shareFileCheckbox}></lightning-input>
                                
                                    <lightning-file-upload
                                        label={FileTitle}
                                        name="fileUploader"
                                        accept={acceptedFormats}
                                        record-id={recordId}
                                        onuploadfinished={saveToFile}
                                        multiple>
                                    </lightning-file-upload>
                                </div>
                                <footer class="slds-modal__footer">
                                    <button class="slds-button slds-button_neutral" onclick={closeFileModal} title="Cancel">Cancel</button>
                                </footer>
                            </div>
                        </section>
                        <div class="slds-backdrop slds-backdrop_open"></div>
                    </template>
                <div if:false={isModalOpen}></div>

                <template if:true={data}>
                    <lightning-card>
                        <div style="margin-right: 10px; margin-left:10px">
                            <table>
                                <tr style="font-size: 15px;">
                                    <th>Name</th>
                                    <th>Created Date</th>
                                    <th>Created By</th>
                                    <th>S2S Share</th>
                                    <th></th>
                                </tr>
                                <template for:each={data} for:item="rec" for:index="index">
                                    <tr key={rec} style="border-bottom: 1px solid black;height: 50px;">
                                        <td style="width: 30%; margin-right:10px"><a href={rec.AttachmentURL} target="_blank" >{rec.AttachmentName}</a></td>
                                        <td ><lightning-formatted-date-time value={rec.AttachmentCreateDate}></lightning-formatted-date-time></td>
                                        <td >{rec.AttachmentCreatedBy}</td>
                                        <td style="">
                                            <div if:true={rec.ShowToggle}>
                                                <div if:true={rec.AttachmentIsShared}>
                                                    <lightning-input class="slds-m-left_xx-small" type="toggle"  message-toggle-active="Shared" message-toggle-inactive="Not Shared" checked={rec.AttachmentIsShared} value={rec.AttachmentId} disabled></lightning-input>
                                                </div>
                                                <div if:false={rec.AttachmentIsShared}>
                                                    <lightning-input class="slds-m-left_xx-small" type="toggle"  message-toggle-active="Shared" message-toggle-inactive="Not Shared" checked={rec.AttachmentIsShared} value={rec.AttachmentId} onchange={toggleChange}></lightning-input>
                                            
                                                </div>
                                               
                                            </div>
                                            <div if:false={rec.ShowToggle}></div>
                                        </td>
                                        <td >
                                            <div if:true={rec.AttachmentContentDocumentDownloadLink}>
                                                <lightning-button-icon icon-name="utility:download" variant="bare" alternative-text="Download" class="slds-m-left_large" title="Download" value={rec.AttachmentContentDocumentDownloadLink} size="medium" onclick={downloadFile}></lightning-button-icon>
                                            </div>
                                        </td>
                                        <td >
                                            <!-- <div if:true={rec.ShowToggle}> -->
                                                <lightning-button-icon icon-name="utility:delete" variant="bare" alternative-text="Delete" class="slds-m-left_small" title="Delete" value={rec} size="medium" onclick={openDeleteModal}></lightning-button-icon>
                                            <!-- </div> -->
                                            <div if:false={rec.ShowToggle}></div>
                                            <div if:true={openModal}>
                                                <div >
                                                    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                                                        <div class="slds-modal__container" style="width: 50%;margin-left: 25%;">
                                                          <header class="slds-modal__header">
                                                            <!-- if:true={showModel}-->
                                                            <lightning-button-icon icon-name="utility:close" class="slds-float_right" onclick={closeDeleteModal} alternative-text="close"></lightning-button-icon>
                                                            <h2 id={rec.AttachmentId} class="slds-modal__title slds-hyphenate">Delete File?</h2>
                                                          </header>
                                                          <div class="slds-modal__content slds-p-around_medium" id={rec.AttachmentId}>
                                                            <p>Do you want to delete file {NameToDelete}?</p>
                                                          </div>
                                                          <footer class="slds-modal__footer">
                                                            <lightning-button variant="neutral" label="Close" title="Close" onclick={closeDeleteModal}
                                                                class="slds-m-left_x-small"></lightning-button>
                                                            <lightning-button variant="neutral" label="Delete" title="Close" onclick={deleteFiles}
                                                                class="slds-m-left_x-small" value={IdToDelete}></lightning-button>
                                                          </footer>
                                                        </div>
                                                      </section>
                                                      <div class="slds-backdrop slds-backdrop_open"></div>
                                                </div>
                                            </div>
                                            <div if:false={openModal}></div>
                                        </td>
                                    </tr>
                                </template>
                            </table>
                        </div>
                    </lightning-card>
                </template>
            </div>
        </lightning-card>
</template>