<template>
    <lightning-card >
        <div if:true={externalSharing} style="margin-left:15px; margin-bottom:10px">
            <p><strong>Status: </strong>{externalSharingRecord.SharingStatus}</p>
            <p><strong>Partner: </strong> {externalSharingRecord.PartnerName}</p>
            <p><strong>Start Date: </strong> <lightning-formatted-date-time value={externalSharingRecord.SharingStartDate}></lightning-formatted-date-time></p>
            <p><strong>{externalSharingRecord.PartnerName} Case Id: </strong>{externalSharingRecord.SharingResponseId}</p>
        </div>
        <div if:false={externalSharing} style="margin-left:15px; margin-bottom:10px">
            <p>Not Currently Sharing</p>
        </div>
        <div if:false={externalSharing}>
            <lightning-button variant="brand" label="Share Case" title="Share Case" onclick={openModal} class="slds-m-left_x-small"></lightning-button>
        </div>
        <div if:true={externalSharing} >
            <lightning-button variant="brand-outline" label="Stop Sharing Case" title="Stop Sharing Case" onclick={stopSharing} class="slds-m-left_x-small"></lightning-button>
        </div>
    </lightning-card>
    <template if:true={isModalOpen}>
        <lightning-combobox
            name="Connections"
            label="Connect To..."
            value={value}
            placeholder="Select Connection"
            options={ConnectionOptions}
            onchange={handleChange} >
        </lightning-combobox>
        <lightning-input type="checkbox" label="Include All Related Attachments?" name="IncludeAttachments" onchange={handleCheckboxChange}> </lightning-input>
        <div style="margin-top:10px" if:true={showSyncButton}>
            <button class="slds-button slds-button_brand" onclick={submitDetails} title="Start Sharing Sync">Start Sharing Sync</button>
        </div>
        <div style="margin-top:10px" if:false={showSyncButton}>
            <button class="slds-button slds-button_brand" disabled title="Start Sharing Sync">Start Sharing Sync</button>
        </div>
    </template>
    <template if:false={isModalOpen}></template>
</template>