<apex:page standardController="Contact" extensions="ContactExt" showHeader="true" sidebar="true" action="{!redirect}">
<!-- <apex:page standardController="Contact" extensions="ContactExt" showHeader="true" sidebar="true"> -->
    
</apex:page>