<apex:page id="loginPage" showHeader="false" title="Opower Customer Portal Login" controller="SiteLoginController">
<apex:stylesheet value="{!URLFOR($Resource.CSSResources, 'MemberPortal.css')}"/>
   <apex:composition template="{!$Site.Template}">  
    <apex:define name="body">  
        <div id="wrapper"> 
    <div id="header">
        <img class="logo" src="{!URLFOR($Resource.CSSResources, 'img/logo.png')}" alt="" width="177" height="88" />
<!--        <ul class="nav">-->
<!--            <li><a href="">Home</a></li>-->
<!--            <li><a href="">Cases</a></li>-->
<!--            <li><a href="">Solutions</a></li>-->
<!--            <li><a href="">Log Out</a></li>-->
<!--        </ul>-->
        <img class="header-right" src="{!URLFOR($Resource.CSSResources, 'img/header-right.png')}" alt="" width="297" height="88" />
        <div class="clr"></div> 
    </div>
    <div id="content">
        <div class="top">
            <h3>About the Portal</h3>
            <p>The Surescripts Customer Care Portal will allow you to access:</p>
            <ul>
                <li><span>Surescripts Solutions</span> - Our Knowledge Base allows you to search for answers to common questions, and download Surescripts bulletins and other documents created for Surescripts Participants.</li>
                <li><span>Case Handling</span></li>
                    <ul>
                        <li>Log a new case with Surescripts</li>
                        <li>View cases that have been sent to your team for review and resolution</li>
                        <li>Comment on an existing case</li>
                        <li>Update the status of an existing case</li>
                        <li>Review cases which you have logged with Surescripts</li>
                        <li>Attach documents to existing cases</li>
                        <li>Reports (Coming Soon!)</li>
                    </ul>
            </ul>
            <p><span>PLEASE NOTE:</span> If your case requires research and resolution by another Network Participant (i.e., the case cannot be resolved solely by Surescripts), then information entered into the Surescripts Customer Care Portal will be visible to other Network Participants who are Surescripts Customer Care Portal users.</p>   
        </div>
        <div class="bottom">
            <h3>Portal Login</h3>
            <div class="bottom-wrap">
                <p>Please Log in to your Surescripts Customer Care Portal:</p>
                
    <apex:form id="loginForm" forceSSL="true">          
      <apex:panelGrid columns="2" style="margin-top:1em;">
        <apex:outputLabel value="{!$Label.site.username}" for="username"/>
        <apex:inputText id="username" value="{!username}"/>
        <apex:outputLabel value="{!$Label.site.password}" for="password"/>
        <apex:inputSecret id="password" value="{!password}"/>
        <apex:outputText value=""/>
        <apex:commandButton action="{!login}" id="loginButton" 
        style="bgcolor:white;background-image:url({!URLFOR($Resource.CSSResources, 'img/log-in.png')});height:19px;width:52px;border-width:0px;background-repeat:no-repeat;cursor:pointer;"/>
        <br/>
          <apex:messages />
          <br/>
      </apex:panelGrid>
                                        
                    <apex:outputLink value="{!$Page.ForgotPassword}">Forgot Your Password?</apex:outputLink>
               </apex:form>
                 <div class="online-chat">
                   <table cellpadding="0" cellspacing="0" border="0">
                       <tr>
                           <td align="center">
                                <a href="http://service.velaro.com/visitor/requestchat.aspx?siteid=6623&showwhen=inqueue" target="OnlineChatSoftware"  onClick="this.newWindow = window.open('http://service.velaro.com/visitor/requestchat.aspx?siteid=6623&showwhen=inqueue', 'OnlineChatSoftware', 'toolbar=no,location=no,directories=no,menubar=no,status=no,scrollbars=no,resizable=yes,replace=no');this.newWindow.focus();this.newWindow.opener=window;return false;">
                                  
                                </a>
                            </td>
                        </tr>
                    </table>
                </div> 
            </div>
            <p class="disclaimer"><span>IMPORTANT NOTICE:</span> Protected Healthcare Information (PHI) should never be transmitted via this web site. PHI is any data which can be used to reasonably identify a patient (as defined within the HIPAA Privacy Rule, the HIPAA Security Rule, or elsewhere  within the overall HIPAA regulations),or which specifically contains individually identifiable health information.</p> 
        </div>
    </div>
    <div id="footer"><p>&copy; 2010 Surescripts. All Rights Reserved.</p></div>
</div>
        
      <br/>
    </apex:define>
    </apex:composition>     
</apex:page>