html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {clear: both;}
#wrapper {font: 12px/16px Arial, serif; color: #666666;}

#header {border-bottom: 7px solid #1387bc; width: 100%; min-width: 960px; position: relative;}
#header .logo {float: left;}
#header .header-right {float: right;}
#header .nav {position: absolute; top: 42px; left: 215px;}
#header .nav li {display: inline; border-right: 1px solid #000; padding: 0 10px;}
#header .nav li:last-child {border-right: none;}
#header .nav li a:link, #header .nav a:visited {color: #000; text-decoration: none; font-weight: bold;}
#header .nav li a:hover, #header .nav li a:active {color: #0078a5;}
#header .online-chat-hdr {position: absolute; left:610px; bottom: 17px;}
#header .online-chat-hdr img {width: 125px;}

#content {width: 600px; margin: 0 auto;}
#content .top {padding: 35px 0;}
#content .top h3 {margin-bottom: 10px;}
#content ul li {list-style: disc; margin-left: 15px; padding-left: 5px;}
#content ul ul {margin-bottom: 10px;}
#content ul ul li {margin-left: 50px;}
#content span {color: #f69f28; font-weight: bold;}
#content h3 {color: #fff; background-color: #666666; font-weight: bold; padding: 2px 0 2px 5px;}
#content .bottom {font-weight: bold;}
#content .bottom .bottom-wrap { background-color: #f9f9f9;width: 588px; padding: 10px 5px; border-right: 1px solid #f3f3f3; border-left: 1px solid #f3f3f3; border-bottom: 1px solid #f3f3f3;}
#content .bottom .bottom-wrap form {padding: 10px 0 0 20px;}
#content .bottom .bottom-wrap form label {float: left; padding: 3px 0; width: 65px; display: block;}
#content .bottom .bottom-wrap form input {margin-bottom: 5px;}
#content .bottom .bottom-wrap form .submit, #content .bottom .bottom-wrap form a {padding-left: 65px;}
#content .bottom .bottom-wrap form a:link, #content .bottom .bottom-wrap form a:visited {color: #274e91;}
#content .bottom .bottom-wrap form a:hover {color: red;}
#content .bottom .bottom-wrap .online-chat {padding: 10px 0 10px 84px;}
#content .bottom .bottom-wrap .online-chat img {width: 125px;}
#content .bottom .disclaimer {padding: 20px 0 30px 0;}
#footer.ftr-sep p {width: 960px; font-size: 13px;}
#footer.ftr-sep .footer-sub {font-size: 11px;}

#footer {background-color: #0e6887; border-top: 8px solid #a3d1e1; color: #a3d1e1; height: 125px;}
#footer p {width: 600px; text-align: center; margin: 0 auto; padding-top: 10px;}