<template>
    <div if:true={externalSharing} style="width:60%; margin-left:20%;">
        <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert" style=" border-radius: 15px">
            <h2><Strong>Sharing Case Records with:  </Strong>{externalSharingRecord.PartnerName} since <lightning-formatted-date-time value={externalSharingRecord.SharingStartDate}></lightning-formatted-date-time></h2>
        </div>
    </div>
    <div if:false={externalSharing}>
    </div>
</template>